@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");

.container-user body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  padding: 0;
  color: #4d4d4d;
}
.container-user 
{
    margin-left: 6%;
    margin-right: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
}

.container-user #title {
  text-align: center;
}
.container-user table 
{
    border-collapse: collapse;
    border-radius: 1em;
}

.container-user  #table-user {

  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 20px !important;
}
.container-user #table-user td,m
.container-user #table-user th {
   
  padding: 12px;
  
}

.container-user #table-user tr:hover {
  background-color: #ddd;
}

.container-user #table-user th {
  padding: 10px;
  text-align: center;
    
  
}

.container-user .opration {
  text-align: center;
}

.container-user .button-remove{
  border: none;
  outline: none;
  font-size: 11px;
  font-family: "Quicksand", sans-serif;
  color: #f44336;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid #f44336;
  background-color: transparent;
  margin-left: 5px;
}
.container-user .button-edit{
    border: none;
    outline: none;
    margin-left: 4px;
    font-size: 11px;
    font-family: "Quicksand", sans-serif;
    color: #3659f4;
    padding: 3px 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid #3659f4;
    background-color: transparent;
  }
  
.container-user .button-remove:active {
  border: 1px solid blue;
  background-color: green;
}
.container-user .pagination
{
  margin-top: 20px;
  float: right;
  margin-right: 10%;
}
.btn-success, .btn-success:hover
{
  outline-style: none;
  background-color: #56f436;
  border: 0px;
  border-radius: 15px;
}
.container-user td{
    text-align: center;
}